@tailwind base;
@tailwind components;
@tailwind utilities;

.ol-popup {
    position: absolute;
    min-width: 150px;
    bottom: 12px;
    left: -75px;
    border: 1px solid #cccccc;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    color: #333;
}
.ol-popup-closer:after {
    content: "✖";
}
